@page
@model IndexModel
@{
    ViewData["Title"] = "UnderRated World 2022";
}

<style>
    body {
        background-color:darkslategray;
    }
</style>

<div class="text-center">
    <h1 class="display-4"><font color="#FFFFFFF">Welcome to UnderRated World</font></h1>
    <p><font color="#FFFFFF">We are building a new Website with more interactive features for UnderRated fans.
        <br>
        <br>
        While you wait we have constructed this page so you can still access UnderRated's other sites!</font>
    </p>
</div>
