@page
@model PrivacyModel
@{
    ViewData["Title"] = "UnderRated Videos";
}
<h1>@ViewData["Title"]</h1>

<p>This section you will able to view some of UnerRateds .</p>
<br /> 
To view UnderRated videos plae visit his youtube channel. Rememver to hit that subscription button"

